.links > div > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 120px;
}

.links-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin: 0;
  text-align: center;
}

.links-item picture img {
  width: 40px;
  height: auto;
}

.links-item a {
  font-size: 18px;
  text-underline-offset: 3px;
}
